{% extends "layout.html" %}

<!-- Page Header -->
{% block picture %}
<header
  class="masthead"
  style="background-image: url('{{ url_for('static', filename='images/risingsun/cover.jpg') }}')"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
      
          <h1>Rising</h1>
          <h1>Sun</h1>
          <br>
          <span class="subheading">by CMON</span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}

<!-- Post Content -->
{% block content %}
<p class="article-subtitle"><a href="{{ url_for('jade') }}">Paint guide here</a></p>
<article>
  <div class="container-images">
    <div class="gallery-img">
      <a href="static/images/risingsun/2.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/2.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/3.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/3.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/4.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/4.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/5.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/5.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/6.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/6.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/7.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/7.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/8.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/8.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/9.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/9.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/10.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/10.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/11.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/11.jpg') }}"
      /></a>
    </div>

    <div class="gallery-img">
      <a href="static/images/risingsun/12.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/12.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/13.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/13.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/14.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/14.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/15.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/15.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/16.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/16.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/17.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/17.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/18.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/18.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/19.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/19.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/20.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/20.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/21.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/21.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/22.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/22.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/23.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/23.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/24.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/24.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/25.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/25.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/26.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/26.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/27.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/27.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/28.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/28.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/29.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/29.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/30.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/30.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/31.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/31.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/32.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/32.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/33.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/33.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/34.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/34.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/35.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/35.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/36.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/36.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/37.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/37.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/38.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/38.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/39.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/39.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/40.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/40.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/41.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/41.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/42.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/42.jpg') }}"
      /></a>
    </div>
    <div class="gallery-img">
      <a href="static/images/risingsun/43.jpg" data-lightbox="mygallery"
        ><img src="{{ url_for('static', filename='images/risingsun/43.jpg') }}"
      /></a>
    </div>
  </div>
</article>
<!-- begin wwww.htmlcommentbox.com -->
<div id="HCB_comment_box">
  <a href="http://www.htmlcommentbox.com">Widget</a> is loading comments...
</div>
<link
  rel="stylesheet"
  type="text/css"
  href="https://www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0"
/>
<script type="text/javascript" id="hcb">
  /*<!--*/ if (!window.hcb_user) {
    hcb_user = {};
  }
  (function () {
    var s = document.createElement("script"),
      l = hcb_user.PAGE || ("" + window.location).replace(/'/g, "%27"),
      h = "https://www.htmlcommentbox.com";
    s.setAttribute("type", "text/javascript");
    s.setAttribute(
      "src",
      h +
        "/jread?page=" +
        encodeURIComponent(l).replace("+", "%2B") +
        "&mod=%241%24wq1rdBcg%24UO7Lm.U4ciBzvhcQtedPW1" +
        "&opts=16862&num=10&ts=1610508523482"
    );
    if (typeof s != "undefined")
      document.getElementsByTagName("head")[0].appendChild(s);
  })(); /*-->*/
</script>
<!-- end www.htmlcommentbox.com -->

{% endblock %}
